@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--text-primary: color-mix(in xyz, red 2 0%, blue 100%);
	--bg-primary: color-mix(in xyz-d50, red 10%, blue 10%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	font-family: "Poppins", sans-serif;
	background-color: var(--bg-primary);
}

h1 {
	font-size: 2.5rem;
	color: var(--text-primary);
}

main {
	padding: 10px;
	width: 60%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.search-container {
	width: 100%;
	padding: 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-container button,
.search-container input[type="search"] {
	padding: 10px 14px;
	outline: none;
	font-size: 1.2rem;
}

.weather-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.weather-wrapper .place-name {
	padding: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.weather-info {

	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.weather{
   color: darkorange;
}
.temps-info h3{
   display: flex;
   column-gap: 15px;
   justify-content: space-between;
   color: gray;
}
.temps-info h3 span{
   color: darkcyan;
}